<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

  <main id="content"><section class="hero">
  <div class="title_and_description">
    <h1>{{ name }}</h1>
    <p class="desc">Product Development and Cloud Operations</p>
    <p class="desc">I build reliable cloud systems and automation. Explore my projects or get in touch.</p>

  <details class="accordion">
    <summary>Projects</summary>
    <div class="accordion-content">

        <div class="project-item">
        <a href="https://hwashworth.com" class="proj-title" target="_blank" rel="noopener noreferrer">hwashworth.com (This Site)</a>
        <p class="proj-desc">
        This portfolio itself is a live project demonstrating a full CI/CD pipeline. It's a Python/Flask application deployed on AWS Elastic Beanstalk. Any <code>git push</code> to the main branch on GitHub automatically triggers a GitHub Actions workflow, which builds and deploys the new version. The custom domain is managed via Route 53, and the site is secured with HTTPS using an AWS Certificate.
        </p>
        </div>
    <div class="project-item">
      <a class="proj-title">Project 2</a>
      <p class="proj-desc">
        A description of your next awesome SRE project (like the Terraform or Observability one) will go here.
      </p>
    </div>
    </div>
    </details>

  </div>
  </section>
  </main>

  <footer class="footer">
      <a href="https://github.com/hwashworth">GitHub</a>

      <a href="mailto:ashworth.hunter@gmail.com">Email</a>
  </footer>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
